<section class="benefits section-animation" id="benefits">
  <div class="container ben-cont">
    <h2 class="title-bnf">Benefits of working with me</h2>
    <div class="bnf-cont">
      <ul class="list-bnf">
        <li class="my-bnf">
          <svg class="svg-bnf" width="24" height="24">
            <use href="./img/sprite.svg#icon-user"></use>
          </svg>
          <h3 class="name-bnf">Expertise</h3>
          <p class="bnf-dscr">
            As a highly experienced developer, I have deep knowledge of
            programming and website development.
          </p>
        </li>
        <li class="my-bnf">
          <svg class="svg-bnf" width="24" height="24">
            <use href="./img/sprite.svg#icon-message-chat"></use>
          </svg>

          <h3 class="name-bnf">Communication</h3>
          <p class="bnf-dscr">
            Understanding your needs and wants is my priority and I am always
            open to discussions and corrections.
          </p>
        </li>
        <li class="my-bnf">
          <svg class="svg-bnf" width="24" height="24">
            <use href="./img/sprite.svg#icon-brush"></use>
          </svg>

          <h3 class="name-bnf">Art</h3>
          <p class="bnf-dscr">
            Thanks to my creative nature, I am ready to accept challenges and
            help you bring your ideas to life.
          </p>
        </li>
        <li class="my-bnf">
          <svg class="svg-bnf" width="24" height="24">
            <use href="./img/sprite.svg#icon-hourglass"></use>
          </svg>

          <h3 class="name-bnf">Urgent execution</h3>
          <p class="bnf-dscr">
            I understand how important time is to you. Ready to work quickly and
            efficiently, without reducing the quality of work.
          </p>
        </li>
      </ul>
      <a class="btn-bnf-descr" href="#footer">Order the project</a>
    </div>
  </div>
</section>
