<section id="faq">  
    <div class="container faq-container">  
        <h2 class="faq-title">FAQ</h2>  
        <ul class="accordion-faq accordion-container">  
            <li class="accordion-faq_items accordion-faq__items--faq ac underline">  
                <div class="vector-separator"></div> <!-- верхній сепаратор -->  
                <button type="button" class="accordion-faq__btn ac-trigger" aria-expanded="true">  
                    <svg class="arrow-svg">  
                        <use href="/img/sprite.svg#icon-down-arrow"></use>  
                    </svg>  
                    What programming languages are most often used in your project?  
                </button>  
                <div class="accordion-faq__description ac-panel">  
                    <p>In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>  
                </div>  
                <div class="vector-separator"></div> <!-- нижній сепаратор -->  
            </li>  
            <li class="accordion-faq__items--faq ac underline">  
                <div class="vector-separator"></div>  
                <button type="button" class="accordion-faq__btn ac-trigger" aria-expanded="true">  
                    <svg class="arrow-svg">  
                        <use href="/img/sprite.svg#icon-down-arrow"></use>  
                    </svg>  
                    What are the deadlines for the project?  
                </button>  
                <div class="accordion-faq__content ac-panel">  
                    <p>The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.</p>  
                </div>  
                <div class="vector-separator"></div>  
            </li>  
            <li class="accordion-faq__items--faq ac underline">  
                <div class="vector-separator"></div>  
                <button class="accordion-faq__btn ac-trigger">  
                    <svg class="arrow-svg">  
                        <use href="/img/sprite.svg#icon-down-arrow"></use>  
                    </svg>  
                    What payment methods do you accept?  
                </button>  
                <div class="accordion-faq__content ac-panel">  
                    <p>Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>  
                </div>  
                <div class="vector-separator"></div>  
            </li>  
            <li class="accordion-faq__items--faq ac underline">  
            <button class="accordion-faq__btn ac-trigger">How can I contact you?</button>  
            <div class="accordion-faq__content ac-panel">  
                <p>You can contact us via email, phone, or through our website's contact form.</p>  
            </div> 
             <div class="vector-separator"></div>
        </li>  
        <li class="accordion-faq__items--faq ac underline">  
            <button class="accordion-faq__btn ac-trigger">Do you provide advice or support?</button>  
            <div class="accordion-faq__content ac-panel">  
                <p>Yes, we provide both advice and support for our products and services.</p>  
            </div>  
            <div class="vector-separator"></div>
        </li>  
        <li class="accordion-faq__items--faq ac underline">  
            <button class="accordion-faq__btn ac-trigger">What does the process of developing a software product look like from idea to implementation?</button>  
            <div  class="accordion-faq__content ac-panel">  
                <p>The process typically involves several stages including planning, design, development, testing, and deployment.</p>  
            </div>  
            <div class="vector-separator"></div>
        </li>   
        </ul>  
    </div>  
</section>  
