<section class="faq">
  <h2>FAQ</h2>  
    <ul class="accordion">  
        <li class="accordion-item">  
            <button class="accordion-header">What programming languages are most often used in your project?</button>  
            <div class="accordion-content">  
                <p>In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>  
            </div>  
        </li>  
        <li class="accordion-item">  
            <button class="accordion-header">What are the deadlines for the project?</button>  
            <div class="accordion-content">  
                <p>The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.</p>  
            </div>  
        </li>  
        <li class="accordion-item">  
            <button class="accordion-header">What payment methods do you accept?</button>  
            <div class="accordion-content">  
                <p>Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>  
            </div>  
        </li>  
        <li class="accordion-item">  
            <button class="accordion-header">How can I contact you?</button>  
            <div class="accordion-content">  
                <p>You can contact us via email, phone, or through our website's contact form.</p>  
            </div>  
        </li>  
        <li class="accordion-item">  
            <button class="accordion-header">Do you provide advice or support?</button>  
            <div class="accordion-content">  
                <p>Yes, we provide both advice and support for our products and services.</p>  
            </div>  
        </li>  
        <li class="accordion-item">  
            <button class="accordion-header">What does the process of developing a software product look like from idea to implementation?</button>  
            <div class="accordion-content">  
                <p>The process typically involves several stages including planning, design, development, testing, and deployment.</p>  
            </div>  
        </li>  
    </ul>  
</section>  