<section class="footer together">
    <div class="container">
        <div class="title-footer">
            <div class="img-span">
                <img class="img-footer" srcset="
            ./img/work-together-mobile-@1x-img.jpg 1x,
            ./img/work-together-mobile-@2x-img.jpg 2x
          " src="./img/work-together-mobile-@1x-img.jpg" alt="Jefferson" width="44" height="44" loading="lazy" />
                <h2 class="title-text-footer">
                    Let’s <span class="work-span">work</span>
                </h2>
            </div>
            <h2 class="title-text-footer">together</h2>
        </div>

        <form class="form-footer">
            <div class="input-container">
                <input type="email" name="email" class="js-email-input" placeholder="clients@gmail.com" required
                    title="Invalid email, try again" />
                <span class="email-message"></span>
            

            <input type="text" name="comment" placeholder="comments" required maxlength="255"
                title="Message should not exceed 255 characters" />
                </div>
            <button class="btn-footer-send" type="submit">Send</button>
        </form>
        <address class="contacts-footer">
            <ul class="contacts-list-footer">
                <li class="contact-item-footer">
                    <a href="mailto:lloydjefferson@gmail.com" class="email-footer" target="_blank">
                        lloydjefferson@gmail.com
                    </a>
                </li>
                <li class="contact-item-footer">
                    <a href="tel:+3801111111111" class="tel-footer" target="_blank">
                        +380 11 1111 11 11
                    </a>
                </li>
            </ul>
        </address>
    </div>
</section>