<section class="hero container">
  <h1 class="main-title">
      Hello.<br />I’m Fullstack developer Lloyd Jefferson.
    </h1>
    <div class="hero-social">
    <ul class="hero-list">
      <li class="hero-item"><a href="https://www.instagram.com/goitclub/" target="_blank" rel="noopener noreferrer" class="hero-link">IG</a></li>
      <li class="hero-item">
        <a href="https://www.facebook.com/goITclub/" target="_blank" rel="noopener noreferrer" class="hero-link">FB</a>
      </li>
      <li class="hero-item">
        <a href="https://www.youtube.com/c/GoIT" target="_blank" rel="noopener noreferrer" class="hero-link">YT</a>
      </li>
      <li class="hero-item">
        <a target="_blank" rel="noopener noreferrer" class="hero-link">GH</a>
      </li>
    </ul>
    <a class="hero-email" target="_blank" rel="noopener noreferrer">lloydjefferson@gmail.com</a>
  </div>
</section>