<section class="project">
    <div class="container">
        <h2 class="project-header">project</h2>
        <div class="project-swiper-container">
            <div class="project-swiper-wrapper">
                <div class="project-swiper-slide">
                    <div class="project-info-div">
                        <ul class="technologies-list">
                            <li class="technologies-item">
                                <p class="technologies">#react</p>
                            </li>
                            <li class="technologies-item">
                                <p class="technologies">#js</p>
                            </li>
                            <li class="technologies-item">
                                <p class="technologies">#node js</p>
                            </li>
                            <li class="technologies-item">
                                <p class="technologies">#git</p>
                            </li>
                        </ul>
                        <p class="project-text">
                            Programming Across Borders: Ideas, Technologies, Innovations
                        </p>
                        <a class="project-link" href="https://github.com/IvanBogachov/13-friends-of-Mentor/tree/main"
                            target="_blank">See project</a>
                    </div>

                    <div class="project-picture-div">
                        <picture>
                            <source srcset="
                  /img/project-desktop-1-img.jpg    1x,
                  /img/project-desktop-1-img@2x.jpg 2x
                " media="(min-width: 1440px)" />
                            <source srcset="
                  /img/project-tablet-1-img.jpg    1x,
                  /img/project-tablet-1-img@2x.jpg 2x
                " media="(min-width: 768px)" />
                            <img class="project-picture" src="/img/project-mobile-1-img.jpg"
                                srcset="/img/project-mobile-1-img@2x.jpg 2x" alt="form image" />
                        </picture>
                    </div>
                </div>

                <!-- <div class="project-swiper-slide">
                    <div class="project-info-div">
                        <ul class="technologies-list">
                            <li class="technologies-item">
                                <p class="technologies">#react</p>
                            </li>
                            <li class="technologies-item">
                                <p class="technologies">#js</p>
                            </li>
                            <li class="technologies-item">
                                <p class="technologies">#node js</p>
                            </li>
                            <li class="technologies-item">
                                <p class="technologies">#git</p>
                            </li>
                        </ul>
                        <p class="project-text">
                            Programming Across Borders: Ideas, Technologies, Innovations
                        </p>
                        <a class="project-link" href="https://github.com/IvanBogachov/13-friends-of-Mentor/tree/main"
                            target="_blank">See project</a>
                    </div>

                    <div class="project-picture-div">
                        <picture>
                            <source srcset="
                  /img/project-desktop-2-img.jpg    1x,
                  /img/project-desktop-2-img@2x.jpg 2x
                " media="(min-width: 1440px)" />
                            <source srcset="
                  /img/project-tablet-2-img.jpg    1x,
                  /img/project-tablet-2-img@2x.jpg 2x
                " media="(min-width: 768px)" />
                            <img class="project-picture" src="/img/project-mobile-2-img.jpg"
                                srcset="/img/project-mobile-2-img@2x.jpg 2x" alt="form image" />
                        </picture>
                    </div>
                </div>

                <div class="project-swiper-slide">
                    <div class="project-info-div">
                        <ul class="technologies-list">
                            <li class="technologies-item">
                                <p class="technologies">#react</p>
                            </li>
                            <li class="technologies-item">
                                <p class="technologies">#js</p>
                            </li>
                            <li class="technologies-item">
                                <p class="technologies">#node js</p>
                            </li>
                            <li class="technologies-item">
                                <p class="technologies">#git</p>
                            </li>
                        </ul>
                        <p class="project-text">
                            Programming Across Borders: Ideas, Technologies, Innovations
                        </p>
                        <a class="project-link" href="https://github.com/IvanBogachov/13-friends-of-Mentor/tree/main"
                            target="_blank">See project</a>
                    </div>

                    <div class="project-picture-div">
                        <picture>
                            <source srcset="
                  /img/project-desktop-3-img.jpg    1x,
                  /img/project-desktop-3-img@2x.jpg 2x
                " media="(min-width: 1440px)" />
                            <source srcset="
                  /img/project-tablet-3-img.jpg    1x,
                  /img/project-tablet-3-img@2x.jpg 2x
                " media="(min-width: 768px)" />
                            <img class="project-picture" src="/img/project-mobile-3-img.jpg"
                                srcset="/img/project-mobile-3-img@2x.jpg 2x" alt="form image" />
                        </picture>
                    </div>
                </div>
            </div> -->

            <div class="project-nav-div">
                <div class="project-swiper-button-prew">
                    <svg class="arrow-right" width="32" height="32" fill="white">
                        <use href="/img/sprite.svg#icon-arrow-left"></use>
                    </svg>
                </div>
                <div class="project-swiper-button-next">
                    <svg class="arrow-right" width="32" height="32" fill="white">
                        <use href="/img/sprite.svg#icon-arrow-right"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>
