<section class="container reviews">
  <h2 class="reviews-header">REVIEWS</h2>
  <div class="swiper">
    <ul class="reviews-list swiper-wrapper"></ul>
    <div class="reviews-btn">
      <div class="s-button-prev prev-btn">
        <svg class="reviews-prev" width="50" height="50">
          <use href="/img/sprite.svg#icon-arrow-left"></use>
        </svg>
      </div>
      <div class="s-button-next next-btn">
        <svg class="reviews-next" width="50" height="50">
          <use href="/img/sprite.svg#icon-arrow-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
