<section class="container reviews">
  <h2 class="reviews-header">REVIEWS</h2>
  <div class="swiper reviews-swiper">
    <ul class="reviews-list swiper-wrapper"></ul>
    <div class="reviews-btn">
      <button class="s-button-prev">
        <svg class="reviews-prev" width="24" height="24">
          <use href="/img/sprite.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button class="s-button-next">
        <svg class="reviews-next" width="24" height="24">
          <use href="/img/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
