body {
  background-color: #1c1d20;
}
.about {
  padding-top: 48px;
  padding-bottom: 32px;
}
.about-title {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.about-container {
  width: auto;
}
.about-text-content {
  background-color: #242527;
  border-radius: 24px;
  max-width: 343px;
  height: 500px;
  padding: 32px;
  margin-bottom: 16px;
}
.about-text-content__ph {
  font-weight: 500;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
}
.about-ph__red {
  color: #ed3b44;
}
.about-ph__gray {
  color: rgba(250, 250, 250, 0.4);
}
.about-img {
  border-radius: 24px;
  margin-bottom: 32px;
}
.accordion-about__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}
.accordion-about__title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
}
.accordion-about__btn {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  width: 36px;
  height: 36px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.arrow-svg {
  width: 18px;
  height: 18px;
}
.accordion-about__description {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: left;
  color: #fafafa;
}
.accordion-about-top-text {
  margin-bottom: 32px;
}
.accordion-about .ac {
  margin-top: 20px;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  background-color: transparent;
  border: none;
}
.accordion-about .ac .ac-trigger {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  width: 36px;
  height: 36px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
}
.accordion-about .ac.is-active > .ac-header .ac-trigger::after {
  content: '';
}
.accordion-about .ac .ac-trigger::after {
  content: '';
}
.is-active .arrow-svg {
  transform: rotate(180deg);
}
.accordion-about .underline {
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  position: relative;
  padding-bottom: 20px;
}
.accordion-about--role {
  margin-bottom: 0;
}
.accordion-about--education {
  margin-bottom: 10px;
}

/* swiper */
#swiper-button-by-id {
  background-color: transparent;
  border: transparent;
}
.swiper-about .swiper-slide-about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px !important;
  height: 130px;
  border-radius: 100%;
  border: 1px solid rgba(250, 250, 250, 0.2);
}
.swiper-wrapper-about {
  margin-top: 32px;
}
.swiper-about .swiper-button-next-about:after {
  content: '';
}
.about-me-swiper-icon {
  fill: transparent;
  stroke: #3b3b3b;
  width: 28px;
  height: 28px;
  /* transition: ; */
}
.swiper-slide-about.active-slide {
  background-color: #ed3b44;
  border: none;
}
/* FOR SCREENS MEDIA 768px */

@media screen and (min-width: 768px) {
  .about-text-content {
    max-width: 704px;
    height: 700px;
    padding: 64px;
  }
  .about-text-content__ph {
    font-size: 38px;
    line-height: 105%;
    width: 567px;
  }
  .swiper-about .swiper-slide-about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 1px solid rgba(250, 250, 250, 0.2);
  }
  .swiper-about .about-me-swiper-icon {
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .about-text-content {
    width: 680px;
    height: 577px;
  }
  .about-wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
  }
  .about-img {
    width: auto;
    height: auto;
  }
}
