.container {
padding-bottom: 64px;
}
.title-bnf {
font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: -0.02em;
text-transform: uppercase;
color: rgba(250, 250, 250, 0.4);
margin-bottom: 32px;
}
.bnf-right {
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
}
.list-bnf {
display: flex;
flex-direction: column;
gap: 16px;
margin-bottom: 32px;
}
.my-bnf {
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
border-radius: 20px;
padding: 24px;
background: #242527;
}
.svg-items {
border-radius: 10px;
width: 48px;
height: 48px;
background: #ed3b44;
margin-bottom: 64px;
}
.svg-bnf {
padding: 12px;
}
.container-bnf {
width: 296px;
}
.name-bnf {
font-weight: 600;
font-size: 20px;
line-height: 1.5;
letter-spacing: -0.02em;
color: #fafafa;
margin-bottom: 8px;
}
.bnf-dscr {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: -0.02em;
color: rgba(250, 250, 250, 0.6);
}
.btn-bnf {
border: 1px solid rgba(250, 250, 250, 0.2);
border-radius: 60px;
width: 187px;
height: 55px;
background-color: transparent;
transition:  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-bnf-descr{
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
padding: 18px 36px;
}
.btn-bnf:hover,
.btn-bnf:focus{
background-color: #ED3B44;
color: #1C1D20;
}



@media screen and (min-width: 768px){
.container{
padding-bottom: 96px;
}
.list-bnf {
flex-direction: row;
flex-wrap: wrap;
margin-bottom: 64px;
}
.my-bnf {
flex-basis: calc((100%-16px)/2);
}
}
 

@media screen and (min-width: 1440px)  {
.container {
padding-bottom: 164px;
}


}  












