.covers-section-title {
  display: none;
}

.covers {
  width: 100%;
  overflow: hidden;
  padding-bottom: 64px;
}

.covers-plural-list {
  background-image: url(/img/img-covers/covers-background-min.png);
  background-size: 200%;
  overflow: hidden;
}

.covers-list {
  display: flex;
  margin-bottom: 25px;
  gap: 25px;

  transform: rotate(11deg);
}

.covers-list:last-child {
  margin-bottom: 0;
}

.covers-item {
  display: flex;
  flex-shrink: 0;
  display: inline-block;
  width: 283px;
  height: 163px;

  animation: none; /* Вимкнути анімацію за замовчуванням */
}

.covers-item.active {
  animation-name: marqueeLine;
  animation-duration: 35s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.covers-img {
  display: block;
  width: 100%;
  height: auto;
}

@keyframes marqueeLine {
  0% {
    transform: translateX(-20%);
  }

  50% {
    transform: translateX(-920%);
  }

  100% {
    transform: translateX(-20%);
  }
}

@media screen and (min-width: 768px) {
  .covers {
    padding-bottom: 96px;
  }

  .covers-plural-list {
    background-size: 150%;
  }

  .covers-item {
    width: 544px;
    height: 314px;
    animation-duration: 45s;
  }

  @keyframes marqueeLine {
    0% {
      transform: translateX(-20%);
    }

    50% {
      transform: translateX(-800%);
    }

    100% {
      transform: translateX(-20%);
    }
  }
}

@media screen and (min-width: 1440px) {
  .covers {
    padding-bottom: 164px;
  }

  .covers-plural-list {
    background-size: 100%;
  }

  .covers-item {
    animation-duration: 60s;
  }

  @keyframes marqueeLine {
    0% {
      transform: translateX(-20%);
    }

    50% {
      transform: translateX(-750%);
    }

    100% {
      transform: translateX(-20%);
    }
  }
}
