.header-container {
  position: absolute;
  top: 32px;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  color: #fafafa;
}

.logo-img {
  margin-right: 8px;
  max-width: 80px;
  min-height: 80px;
}

.menu {
  display: none;
}

.order-link {
  display: none;
}

.icon-burger-btn {
  max-width: 28px;
  max-height: 28px;
  border: transparent;
  background-color: transparent;
}

@media screen and (min-width: 375px) {
  .header-container {
    left: 12%;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    display: block;
    left: 7%;
  }

  .icon-burger-btn {
    display: none;
  }

  .page-navigation {
    display: flex;
    justify-content: space-between;
  }

  .menu {
    display: block;
  }

  .modal-container {
    position: fixed;
    top: 64px;
    left: auto;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    transform: translateY(-200%);
    transition: transform 2000ms linear;
  }

  .modal-container.is-activation {
    transform: translateY(0%);
  }

  .hidden-menu {
    max-width: 67px;
    text-align: center;
  }

  .btn {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fafafa;
    background-color: transparent;
    border: none;
  }
  
  .modal-menu {
    position: absolute;
  }
  
  .order-link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    border-radius: 60px;
    padding: 18px 24px;
    max-height: 55px;
    background-color: #ed3b44;
  }

  .order-link:hover {
    background-color: #F15059;
  }

}

@media screen and (min-width:1158px) {
  .header-container {
    left: 1%;
  }
}

.burger-modal-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999;
  background-image: 
    url('../img/header-img/mobile-header-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: auto;
  transform: translateX(100%);
  transition: transform 2000ms linear;
}

.burger-modal-window.is-open {
  transform: translateX(0%);
}

.modal-window {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 72px 24px 40px 16px;
}

.modal-window-btn {
  position: absolute;
  padding: 0;
  top: 32px;
  right: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.modal-window-btn:hover,
.modal-window-btn:focus {
  background-color: #F15059;
}

.mobile-page-navigation {
  max-width: 67px;
  max-height: 112px;
  text-align: center;
  margin-top: auto;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.mobile-menu-link {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.mobile-menu-link:hover {
  color: #69292d;
  
}

.mobile-order-link {
  display: flex;
  align-self: flex-end;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  padding: 14px 32px;
  border-radius: 60px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  background-color: #ed3b44;
}

.mobile-order-link:hover {
  background-color: #F15059;
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px) {
  .burger-modal-window {
    background-image:
    url('../img/header-img/mobile-header-background@2x.jpg');
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px) {
  .burger-modal-window {
    background-image:
    url('../img/header-img/mobile-header-background@2x.jpg');
  }
}
